{% load staticfiles%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Boards{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Bangers|Gloria+Hallelujah|Pacifico|Press+Start+2P|Shrikhand|Special+Elite"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'boards/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'boards/css/app.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'boards:home' %}">msm3858 Boards</a>
        </div>
    </nav>
    <div class="container">
        <ol class="breadcrumb my-4">
            {% block breadcrumb %} {% endblock %}
        </ol>
        {% block content %} {% endblock %}
    </div>
</body>

</html>