body {
    background-image: url(../img/escheresque_ste.png);

}
.logo {
    font-family: 'Shrikhand',cursive;
}
.logo a {
    color: rgba(235, 52, 52, 0.637)
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}